/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Poppins', sans-serif;
}
/* ------------
items-0f-influencer
-------------------- */
.header{
    margin-bottom: 100px;
}

.influencer-products{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 60px;
    margin-bottom: 100px;
}
.influencer-products h2{
    color: #3A3A3A;
    font-size: 24px;
}
.navigation{
    display: flex;    
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color:#3A3A3A ;
}

/* ......
journey-0f-influencer 
.....*/
.journey-of-influencer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
   
}
 .journey-left{
    width: 582px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 85px;
   

}
.journey-left h1{
    font-size: 40px;
}
.journey-left p{
    padding-top: 20px;
}
.common-button{
    margin-top: 20px;
    margin-right:450px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left:24px;
    border-radius: 41px;
    background-color: #E02C6D;
    color: #ffff;
    border: 0;
    font-weight: 700;
}
.journey-right img{
    width: 440px;
    height: 414px;
    margin-left: 100px;
   
}
/* ....... 
popular-collection
....... */

.section-title{
    margin-bottom: 50px;
    padding-left: 50px;
    text-align: center;
    
}
.popular-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 150px;
    padding-right: 150px;

}

.common-card{
    margin: 10px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 10px;
    border-radius: 10px;
   
}
.common-card img{
    padding: 5px;
}

.fa-star{
    font-size: 12px;
}
.fa-star.filled{
         color: #FFC014;
}
.fa-star.empty{
    color: #aeaeae;
}
span{
    color: #5E6366;
}
.product-info p{
    color: #787885;
}
.click-button{
    float: right;
    padding-right: 160px;
    
}
.click-button a {
    margin-top: 30px;
    text-decoration: none;
    color: #E02C6D;
}
.click-button i{
    color: #E02C6D;
}