/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

 *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Poppins', sans-serif;
}
/* ------------
items-0f-influencer
-------------------- */

.influencer-products{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 60px;
}
.influencer-products h2{
    color: #3A3A3A;
    font-size: 24px;
}
.navigation{
    display: flex;    
}
.navigation li{
    list-style: none;
    margin: 10px;
}
.navigation li a{
    text-decoration: none;
    color:#3A3A3A ;
}

/* ......
journey-0f-influencer 
.....*/
.journey-of-influencer{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.journey-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.journey-right img{
    width: 70%;
}